name: Deploy to AWS prd
on:
  push:
    branches:
    - main

concurrency:
  group: deploy

jobs:
  deploy-prd:
    name: Deploy to AWS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: eu-west-1

      - name: Install
        run: npm ci

      - name: Build, lint & test
        run: |
          npm run build
          npm run lint
          npm run test

      - name: CDK Synth & Deploy
        run: |
          npx cdk synth
          npx cdk deploy --require-approval never
